body {
    font-family: Montserrat,sans-serif;
    max-width: 600px;
    margin:auto;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    margin:0;
}

.header-space{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(8, 7, 27);
    color:white;
    align-items: center;
    justify-items: center;
}
.name{
    grid-column: 2/4;
    grid-row: auto;
}
.main-section{display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}


.heading{
    text-align: center;
    border-style: groove;
    margin:auto;
    padding:.5%;
}
.list-items,a{
    text-align: left;
}
img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 6px;

}
footer{    
    background-color: rgb(8, 7, 27);
    color: white;
    grid-column: 1/2;
    text-align: center;
    margin:0;
    padding:.5%;    
}
#lastmod{
    font-style: italic;
    font-size: small;
}


