@media only screen and (min-width:560px){

    header ul.navlinks{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        padding: .8rem 0;
       
      }
      
}