/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #B9DAEC;
    --secondary-color: #CD127C;
    --accent1-color: #E51C3D;
    --accent2-color: #FFFFFF;
    
  }

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin:0 auto;
    width: fit-content;
}
h1,p{margin:0 ;}
header{
    background-color:#B9DAEC;
}
header img{
    width: 100px;
    float: left;
}
header h1,h2, p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}
div#message {
    margin: 10px;
    background-color: #E51C3D;
    border-top: rgba(0,0,0,0.5);
    border-bottom: rgba(0,0,0,0.5);
}

div.showme{
    display: block;
}

div.hideme{
    display: none;
}
header nav{
    background-color:#CD127C;
}

header nav button{
    margin: .2rem 2vw;
    background: transparent;
    border:none;
    font-size: 2rem;
    color:#555;
}
header nav ul{
    list-style-type: none;
    justify-content: left;
    padding: 0px;
    margin: 0px;
}
header nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color:#FFFFFF;
    border-top:  1px solid rgba(0,0,0,0.5);
    text-align: center;

}

header nav ul li.active a{
    color: #110f0f;
}

nav ul li a:hover{
    background-color:#E51C3D;}

nav ul {display: none;}
nav ul.open{display: block;}

#hamburgerbttn span:nth-child(1){display: block;}
#hamburgerbttn span:nth-child(2){display: none;}

#hamburgerbttn.open span:nth-child(1){display: none;}
#hamburgerbttn.open span:nth-child(2){display: block;} 

main{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ; */
    grid-gap: 10px;
    
    
}
/* * {
    margin: 0;
    padding: 0;
} */

body > main:nth-child(2) > section:nth-child(1){
    padding: 0px;
}

section{
    width: 100%;
    margin: 0;
    
}
main section  img{
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
   
   

}
section button{
    background-color:#CD127C ;
}

.heroButtn {
    background-color: #CD127C;
    color: white;
    border-radius: 10px;
    border: 3.5px solid #CD127C;
    position: absolute;
    left:100px;
    top: 350px;
    padding: 0.5em;
    margin:4em 1% 0;
    opacity: 1;

}
section:nth-child(1){
    background-color:#FFFFFF;
    /* grid-column:2/4 ;
    grid-row: 1/3; */
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 50px;

}
section:nth-child(2){
    background-color: #FFFFFF;
    /* grid-column:2/6 ;
    grid-row: 3/4; */
    border: 2px solid rgba(0, 0, 0, 0.5);
    
}
section:nth-child(3){
    background-color: #FFFFFF;
    /* grid-column:1/2 ;
    grid-row: 1/2; */
    border: 2px solid rgba(0, 0, 0, 0.5);
}
section:nth-child(4){
    background-color: #FFFFFF;
    /* grid-column:1/2 ;
    grid-row: 2/3; */
    border: 2px solid rgba(0, 0, 0, 0.5);
}
section:nth-child(5){
    background-color: #FFFFFF;
    /* grid-column:1/2 ;
    grid-row: 3/4; */
    border: 2px solid rgba(0, 0, 0, 0.5);
}
section:nth-child(6){
    background-color: #FFFFFF;
    /* grid-column:4/6 ;
    grid-row: 1/2; */
    border: 2px solid rgba(0, 0, 0, 0.5);

}
section:nth-child(7){
    background-color: #FFFFFF;
    /* grid-column:4/6 ;
    grid-row: 2/3; */
    border: 2px solid rgba(0, 0, 0, 0.5);
}
section p {
    padding: 50px;
}

footer{
    background-color:  #B9DAEC;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: center; 
    text-align: center;
  
}
footer img{
    width: 100px;
    
    /* float: left; */
} 