@media only screen and (min-width: 65rem) {

    header,footer,nav,section {max-width: 65rem;
    margin:auto}
    
    nav ul {padding-left: 2%;}   
    nav ul li{flex-basis: auto;} 
    nav a{padding: .5rem 1rem;}  */
    
    /* header img{
        /* width: 200px;
        height: 100px; */
        /* padding:auto;
    }  */
    header h1{
        font-size: 2.5rem;}
}    