@media only screen and (min-width:560px){

    nav ul{
        display: flex;
    }
    nav ul li{flex-basis: 25%;}
    header img{
        width: auto;
        height: auto;
        padding:auto;
       
       
    }
    header h1{
        font-size: 2rem;}
    
}
    