*{-moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    
    
}
header{
    background-color: rgb(139, 10, 231);
    display: block;
    text-align: center;
    padding: 50px;
}
header h1{
    font-size: 1rem;
}
header img{
    /* width: 200px;
    height: 100px; */
    float: left;
    /* margin-bottom: 20px; */
    /* padding: 10px; */
}

nav{
    background-color: cornsilk;
    padding:10px;
}
nav ul li{
    flex: auto;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;    
}
nav a{
    text-decoration: none;
    text-align: center;
    padding: .8rem 0;

}

nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;}
section{
    margin:0px;
}
section h1{
    text-align: center;
}
/* section figure img{
    width: 150px;
    margin-left: -40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;

} */
figure img{
    width: 150px;
    margin-left: -40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;

}
section ul li{
  
    list-style-type: none;
}
footer{
    padding:10px;
    background-color: cornsilk;
    text-align: center;
}